body{background-color:rgb(255, 255, 255);font:400 0.75em/1.38 'Trebuchet MS';color:rgb(128, 128, 128);}

.about{color:rgb(128, 128, 128);}

.index,.resume,.tutorials{color:rgb(255, 255, 255);}

.banner{position:relative;float:left;width:100%;height:337px;}

.banner .element{float:left;width:100%;height:337px;}

.banner .image{width:184px;margin-top:-251px;}

.banner .text{display:inline-block;color:rgb(255, 255, 255);}

.container{float:left;clear:both;width:100%;height:1496px;}

.container .element{position:relative;float:left;}

.footer{float:left;width:100%;height:79px;}

.footer .element{position:relative;float:left;z-index:0;width:100%;height:79px;background-color:rgb(40, 39, 39);}

.footer .image{width:25px;margin-top:-54px;}

.footer .text{display:inline-block;z-index:6;margin-top:-45px;font-size:0.833em;color:rgb(255, 255, 255);}

.header{position:fixed;top:-1px;left:0;width:100%;height:79px;}

.header .element{position:absolute;top:0;left:0;width:100%;height:79px;background-color:rgba(15, 17, 19, 0.56);}

.image{display:block;position:relative;float:left;height:auto;overflow:hidden;}

.item_1{float:left;width:52.2666666666%;height:216px;margin:74px 0 0 23.86667%;}

.item_1 .element{position:relative;float:left;}

.item_1 .text{display:inline-block;z-index:23;margin:-27px 0 0 1.40306%;font-size:1.167em;color:rgb(255, 255, 255);}

.item_2{float:left;clear:both;width:52.2666666666%;height:210px;margin:38px 0 0 23.86667%;}

.item_2 .element{float:left;}

.item_2 .text{display:inline-block;clear:both;z-index:19;margin:-27px 0 0 1.40306%;font-size:1.167em;color:rgb(255, 255, 255);}

.item_3 .text{display:inline-block;z-index:15;margin:-27px 0 0 1.40306%;font-size:1.167em;color:rgb(255, 255, 255);}

.item_3,.item_4{float:left;clear:both;width:52.2666666666%;height:210px;margin:44px 0 0 23.86667%;}

.item_3 .element,.item_4 .element{position:relative;float:left;}

.item_4 .text{display:inline-block;z-index:11;margin:-27px 0 0 1.40306%;font-size:1.167em;color:rgb(255, 255, 255);}

.middle{float:left;clear:both;width:100%;height:1106px;}

.middle .element{position:relative;float:left;z-index:8;width:100%;height:1106px;background-color:rgb(222, 222, 222);}

.middle .image{clear:both;z-index:10;width:291px;margin:-1032px 0 0 40.2666666666%;}

.portfolio{position:relative;float:left;clear:both;z-index:25;width:100%;height:1106px;margin-top:-1106px;}

.text{position:relative;float:left;font-weight:400;line-height:1.38;}

.text-19 p{margin-bottom:1em;}

.container ._text{display:block;position:relative;float:left;z-index:9;width:6.8%;margin:-396px 0 0 47.1333333333%;font:400 1.167em/1.38 Helvetica;color:rgb(255, 255, 255);}

.header ._text{display:inline-block;position:absolute;top:33px;font-size:1.167em;line-height:1.38;color:rgb(255, 255, 255);}

.banner-1{z-index:31;}

.banner-2{z-index:17;}

.banner-3{z-index:23;}

.banner-4{z-index:19;}

.element-1{margin-top:-337px;background:url('../images/banner_1.jpg') rgba(129, 91, 40, 0.74);background-repeat:no-repeat;background-size:1500px 500px;background-position:left top;}

.element-10{position:relative;clear:both;z-index:18;margin-top:-337px;background:url('../images/banner_1.jpg') rgba(129, 91, 40, 0.74);background-repeat:no-repeat;background-size:1500px 500px;background-position:left top;}

.element-11{clear:both;z-index:22;width:751px;height:33px;margin-top:-33px;background-color:rgba(46, 46, 46, 0.79);}

.element-12{z-index:20;}

.element-13{position:relative;z-index:15;background-color:rgba(22, 22, 23, 0.57);}

.element-14{width:100%;height:210px;margin-top:-210px;border-radius:1px;background:url('../images/aquaria.png') rgb(222, 222, 222);background-size:480px 150px;background-position:left top;}

.element-15{position:relative;clear:both;z-index:14;margin-top:-337px;background:url('../images/banner_1.jpg') rgba(129, 91, 40, 0.74);background-repeat:no-repeat;background-size:1500px 500px;background-position:left top;}

.element-16{position:relative;z-index:18;width:751px;height:33px;margin-top:177px;background-color:rgba(46, 46, 46, 0.79);}

.element-18{z-index:13;width:100%;height:210px;border-radius:1px;background:url('../images/nightinthewoods.png') rgb(222, 222, 222);background-size:480px 150px;background-position:left top;}

.element-19{clear:both;z-index:14;width:751px;height:33px;margin-top:-33px;background-color:rgba(46, 46, 46, 0.79);}

.element-2{position:relative;z-index:27;background-color:rgba(22, 22, 23, 0.57);}

.element-20{z-index:8;width:100%;height:1496px;background-color:rgba(4, 4, 4, 0.82);}

.element-21{z-index:18;}

.element-22{clear:both;z-index:12;width:40.9333333333%;height:315px;margin:-1443px 0 0 29.7333333333%;background-color:rgb(222, 222, 222);}

.element-23{z-index:11;width:40.9333333333%;height:315px;margin:-1084px 0 0 29.7333333333%;background-color:rgb(222, 222, 222);}

.element-25{z-index:9;width:100%;height:210px;border-radius:1px;background:url('../images/papermoon.png') rgb(222, 222, 222);background-size:480px 150px;background-position:left top;}

.element-26{z-index:10;width:40.9333333333%;height:315px;margin:-725px 0 0 29.7333333333%;background-color:rgb(222, 222, 222);}

.element-27{clear:both;z-index:10;width:751px;height:33px;margin-top:-33px;background-color:rgba(46, 46, 46, 0.79);}

.element-3{z-index:32;}

.element-4{position:relative;float:left;clear:both;z-index:8;width:100%;height:1106px;background-color:rgba(4, 4, 4, 0.82);}

.element-5{z-index:24;}

.element-6{position:relative;z-index:13;background-color:rgba(22, 22, 23, 0.57);}

.element-7{position:relative;clear:both;z-index:12;margin-top:-337px;background:url('../images/banner_1.jpg') rgba(129, 91, 40, 0.74);background-repeat:no-repeat;background-size:1500px 500px;background-position:left top;}

.element-8{position:relative;z-index:19;background-color:rgba(22, 22, 23, 0.57);}

.element-9{z-index:21;width:100%;height:210px;background:url('../images/banner_1.jpg') rgb(222, 222, 222);background-size:945.5px 225px;background-position:left top;}

.footer-1,.footer-2,.footer-3{clear:both;}

.footer-4{position:relative;z-index:7;}

.header-1{z-index:39;}

.header-2{z-index:31;}

.header-3{z-index:27;}

.header-4{z-index:25;}

.image-1{clear:both;z-index:30;margin-left:44.26667%;}

.image-10,.image-11,.image-12{z-index:4;margin-left:5.3333333333%;}

.image-13{z-index:4;margin-left:5.33333%;}

.image-14,.image-15,.image-16{z-index:2;margin-left:7.6666666666%;}

.image-17{z-index:2;margin-left:7.66667%;}

.image-2{z-index:16;margin-left:44.2666666666%;}

.image-18,.image-19,.image-20,.image-21{z-index:5;margin-left:10%;}

.image-22,.image-23,.image-24{z-index:3;margin-left:12.3333333333%;}

.image-25{z-index:3;margin-left:12.33333%;}

.image-3{z-index:22;margin-left:44.2666666666%;}

.image-4{z-index:18;margin-left:44.2666666666%;}

.image-6,.image-7,.image-8,.image-9{clear:both;z-index:1;margin-left:3%;}

.text-1{z-index:29;margin:-60px 0 0 47.3333299999%;font-size:1.333em;}

.text-10{display:inline-block;clear:both;z-index:9;margin:-1065px 0 0 48.1333333333%;font-style:italic;font-size:1.333em;color:rgb(0,0,0);}

.text-11{z-index:16;margin:-38px 0 0 43.8%;font-size:1em;}

.text-12{z-index:10;width:52.2666666666%;min-height:83px;margin:-1033px 0 0 24.9333333333%;font-size:1em;color:rgb(128, 128, 128);}

.text-13{display:inline-block;z-index:11;margin:-874px 0 0 48.1333333333%;font-style:italic;font-size:1.333em;color:rgb(0,0,0);}

.text-14{z-index:12;width:52.2666666666%;min-height:83px;margin:-840px 0 0 24.9333333333%;font-size:1em;color:rgb(128, 128, 128);}

.text-16{display:inline-block;z-index:13;margin:-676px 0 0 47.7333333333%;font-style:italic;font-size:1.333em;color:rgb(0,0,0);}

.text-17{z-index:14;width:52.2666666666%;min-height:83px;margin:-645px 0 0 24.9333333333%;font-size:1em;color:rgb(128, 128, 128);}

.text-18{display:inline-block;z-index:15;margin:-480px 0 0 47.7333333333%;font-style:italic;font-size:1.333em;color:rgb(0,0,0);}

.text-19{z-index:16;width:52.2666666666%;min-height:83px;margin:-449px 0 0 24.9333333333%;font-size:1em;text-align:center;color:rgb(128, 128, 128);}

.text-2{z-index:28;margin:-38px 0 0 43.8%;font-size:1em;}

.text-20{display:inline-block;z-index:9;margin:-736px 0 0 46.2%;font-size:1.667em;color:rgb(0,0,0);}

.text-22,.text-23,.text-24{margin-left:82.0666666666%;}

.text-25{margin-left:82.06667%;}

.text-3{z-index:15;margin:-60px 0 0 47.3333333333%;font-size:1.333em;}

.text-4{z-index:14;margin:-38px 0 0 43.8%;font-size:1em;}

.text-6{z-index:21;margin:-60px 0 0 47.3333333333%;font-size:1.333em;}

.text-7{z-index:20;margin:-38px 0 0 43.8%;font-size:1em;}

.text-9{z-index:17;margin:-60px 0 0 47.3333333333%;font-size:1.333em;}

.header ._text-10{left:3.0666666666%;z-index:34;font-weight:400;}

.header ._text-11{left:9.465625%;z-index:27;font-weight:400;}

.header ._text-12{left:93.0666666666%;z-index:33;}

.header ._text-13{left:30.5333333333%;z-index:26;font-weight:400;}

.header ._text-14{left:3.0666666666%;z-index:26;font-weight:400;}

.header ._text-15{left:24.2666666666%;z-index:25;font-weight:400;}

.header ._text-16{left:93.0666666666%;z-index:25;}

.header ._text-17{left:17.1333333333%;z-index:24;font-weight:400;}

.header ._text-18{left:9.465625%;z-index:23;font-weight:400;}

.header ._text-19{left:3.0666666666%;z-index:22;font-weight:400;}

.header ._text-20{left:93.0666666666%;z-index:21;}

.header ._text-26{left:30.5333333333%;z-index:24;font-weight:400;}

.header ._text-27{left:24.2666666666%;z-index:23;font-weight:400;}

.header ._text-28{left:17.1333333333%;z-index:22;font-weight:400;}

.header ._text-3{left:30.5333333333%;z-index:38;font-weight:400;}

.header ._text-32{left:9.465625%;z-index:21;font-weight:400;}

.header ._text-35{left:3.0666666666%;z-index:20;font-weight:400;}

.header ._text-37{left:93.0666666666%;z-index:19;}

.header ._text-4{left:24.2666666666%;z-index:37;font-weight:400;}

.header ._text-5{left:30.5333333333%;z-index:30;font-weight:400;}

.header ._text-6{left:17.1333333333%;z-index:36;font-weight:400;}

.header ._text-7{left:24.2666666666%;z-index:29;font-weight:400;}

.header ._text-8{left:9.465625%;z-index:35;font-weight:400;}

.header ._text-9{left:17.1333333333%;z-index:28;font-weight:400;}