body{background-color:rgb(255, 255, 255);font:400 1em/1.38 Helvetica;color:rgba(77, 77, 77, 0.7);}

.error,.success{color:rgb(255, 255, 255);}

.index{color:rgba(77, 77, 77, 0.7);}

.banner{position:relative;float:left;z-index:40;width:100.1335113484%;height:526px;margin-left:-0.06676%;background:url('../images/banner.jpg') rgb(222, 222, 222);background-size:1600px 600px;background-position:left top;}

.container{position:relative;float:left;clear:both;z-index:7;width:17.0666666666%;height:215px;margin:-459px 0 0 41.0666666666%;}

.container .image{width:112px;margin-left:30.078125%;}

.element{float:left;width:100%;}

.icon_1{position:relative;float:left;z-index:32;width:4.8666666666%;height:65px;margin:151px 0 0 41.4%;background-image:url('../images/Twitter.png');background-repeat:no-repeat;background-size:65px 65px;background-position:left top;}

.icon_2{position:relative;float:left;z-index:31;width:4.8666666666%;height:65px;margin:151px 0 0 1%;background-image:url('../images/Instagram.png');background-repeat:no-repeat;background-size:65px 65px;background-position:left top;}

.icon_3{position:relative;float:left;z-index:30;width:5.4666666666%;height:65px;margin:151px 0 0 1.06667%;background-image:url('../images/Email.png');background-repeat:no-repeat;background-size:65px 65px;background-position:left top;}

.icon_4{float:left;clear:both;width:77.2727272727%;height:30px;margin:28px 0 0 134.09091%;background-image:url('../images/Instagram.png');background-repeat:no-repeat;background-size:30px 30px;background-position:left top;}

.icon_5{position:relative;float:left;clear:both;z-index:3;width:4.6%;height:65px;margin:83px 0 0 42.4%;background-image:url('../images/Twitter.png');background-repeat:no-repeat;background-size:65px 65px;background-position:left top;}

.icon_6{position:relative;float:left;z-index:2;width:4.1333333333%;height:65px;margin-top:83px;background-image:url('../images/Instagram.png');background-repeat:no-repeat;background-size:65px 65px;background-position:left top;}

.icon_7{position:relative;float:left;z-index:1;width:5.6666666666%;height:65px;margin:83px 0 0 0.53333%;background-image:url('../images/Email.png');background-repeat:no-repeat;background-size:65px 65px;background-position:left top;}

.image{display:block;float:left;height:auto;overflow:hidden;}

.image_1{position:relative;float:left;z-index:27;width:359.0909090909%;height:155px;margin:216px 0 0 -770.45455%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.40.55.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px auto;background-position:left top;}

.image_10{position:relative;float:left;clear:both;z-index:18;width:359.0909090909%;height:155px;margin:-155px 0 0 -265.90909%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.43.01.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.image_11{position:relative;float:left;clear:both;z-index:17;width:359.0909090909%;height:155px;margin:-155px 0 0 238.63636%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.44.07.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.image_12{position:relative;float:left;clear:both;z-index:16;width:359.0909090909%;height:155px;margin:-155px 0 0 743.18182%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.43.44.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.image_2{position:relative;float:left;clear:both;z-index:26;width:359.0909090909%;height:155px;margin:-155px 0 0 -265.90909%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.41.14.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:180px 180px;background-position:left top;}

.image_3{position:relative;float:left;clear:both;z-index:25;width:359.0909090909%;height:155px;margin:-155px 0 0 238.63636%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.41.44.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.image_4{position:relative;float:left;clear:both;z-index:24;width:359.0909090909%;height:155px;margin:-155px 0 0 743.18182%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.42.12.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:300px 300px;background-position:left top;}

.image_5{position:relative;float:left;clear:both;z-index:23;width:359.0909090909%;height:155px;margin:42px 0 0 -770.45455%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.42.24.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.image_6{position:relative;float:left;clear:both;z-index:22;width:359.0909090909%;height:155px;margin:-155px 0 0 -265.90909%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.41.30.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.image_7{position:relative;float:left;clear:both;z-index:21;width:359.0909090909%;height:155px;margin:-155px 0 0 238.63636%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.42.38.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.image_8{position:relative;float:left;clear:both;z-index:20;width:359.0909090909%;height:155px;margin:-155px 0 0 743.18182%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.42.50.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.image_9{position:relative;float:left;clear:both;z-index:19;width:359.0909090909%;height:155px;margin:44px 0 0 -770.45455%;background:url('../images/Screen%20Shot%202014-04-12%20at%2009.43.56.png') rgb(176, 207, 244);background-repeat:no-repeat;background-size:200px 200px;background-position:left top;}

.section1{position:relative;float:left;width:100%;}

.section1 .image{position:relative;clear:both;z-index:41;width:184px;margin:-342px 0 0 43.72497%;}

.section2{position:relative;float:left;clear:both;z-index:38;width:100%;height:136px;margin-top:6px;background-color:rgba(247, 244, 244, 0.86);}

.section3{position:relative;float:left;clear:both;z-index:28;width:2.9333333333%;height:42px;margin:-172px 0 0 45.13333%;}

.section_intro{position:relative;float:left;clear:both;z-index:36;width:100%;height:346px;background-color:rgb(229, 229, 229);}

.strip{float:left;clear:both;width:100.2002670226%;height:7px;margin-left:-0.06676%;background-color:rgba(23, 176, 241, 0.65);}

.text{display:inline-block;float:left;clear:both;margin-top:11px;font-size:1em;font-weight:400;line-height:1.38;color:rgb(255, 255, 255);}

._button{display:block;float:left;border-radius:6px;text-align:center;}

._input{display:block;float:left;width:20.3333333333%;height:34px;margin:86px 0 0 39.73333%;padding:0 10px;background-color:rgb(255, 255, 255);font:0.75em/1.38 'Trebuchet MS';color:rgb(0, 0, 0);}

._textarea{display:block;float:left;clear:both;width:20.3333333333%;height:179px;margin:20px 0 0 39.73333%;padding:5px;background-color:rgb(255, 255, 255);font:0.75em/1.38 'Trebuchet MS';color:rgb(0,0,0);resize:none;}

.container ._button{width:46.484375%;height:34px;margin-top:32px;border:1px solid rgb(255, 255, 255);font-size:0.75em;font-weight:400;}

.section2 ._text{display:inline-block;position:absolute;top:54px;left:37.740625%;z-index:37;height:29px;font-size:1em;line-height:1.38;text-align:center;color:rgba(23, 176, 241, 0.65);}

.section3 ._text{display:inline-block;position:absolute;top:836px;left:47.7272727272%;z-index:14;height:29px;font:700 1em/1.38 'Trebuchet MS';text-align:center;color:rgba(23, 176, 241, 0.65);}

.section_intro ._button{clear:both;width:9.8%;height:40px;margin:40px 0 0 44.66667%;background-color:rgba(23, 176, 241, 0.65);font-size:1em;color:rgb(255, 255, 255);}

.section_intro ._text{display:inline-block;position:absolute;font-size:1em;line-height:1.38;text-align:center;color:rgba(77, 77, 77, 0.7);}

.element-1,.element-2{height:525px;background:url('../images/banner.jpg') rgb(222, 222, 222);background-size:1600px 600px;background-position:left top;}

.element-3,.element-4{clear:both;height:7px;background-color:rgba(23, 176, 241, 0.65);}

.section1-1{z-index:42;height:526px;border:1px solid rgb(0, 0, 0);}

.section1-2,.section1-3{z-index:2;height:532px;}

.text-1{margin-left:19.140625%;}

.text-2{margin-left:6.640625%;}

._button-2{clear:both;width:9.8%;height:40px;margin:39px 0 0 45.13333%;background-color:rgba(23, 176, 241, 0.65);font:1em 'Trebuchet MS';color:rgb(255, 255, 255);}

._container-1{position:fixed;top:0;left:0;z-index:48;width:100%;height:83px;background-color:rgba(255, 255, 255, 0.57);}

._container-2{position:relative;float:left;z-index:13;width:100%;height:629px;margin-top:751px;background-color:rgb(26, 26, 26);}

._text-1{display:inline-block;position:absolute;top:33px;left:6%;z-index:47;height:22px;font-size:0.938em;line-height:1.38;color:rgb(0,0,0);}

._text-11{display:inline-block;position:absolute;top:18px;left:45.5333333333%;z-index:12;height:29px;font:700 1.188em/1.38 'Trebuchet MS';text-align:center;color:rgb(255, 255, 255);}

._text-12{display:inline-block;position:absolute;top:434px;left:36.7927083333%;z-index:8;height:16px;font:700 0.75em/1.38 'Trebuchet MS';color:rgb(255, 255, 255);}

._text-13{display:inline-block;position:absolute;top:434px;left:41.9260416666%;z-index:7;height:16px;font:700 0.75em/1.38 'Trebuchet MS';color:rgb(255, 255, 255);}

._text-14{display:inline-block;position:absolute;top:434px;left:47.259375%;z-index:6;height:16px;font:700 0.75em/1.38 'Trebuchet MS';color:rgb(255, 255, 255);}

._text-15{display:inline-block;position:absolute;top:434px;left:52.5927083333%;z-index:5;height:16px;font:700 0.75em/1.38 'Trebuchet MS';color:rgb(255, 255, 255);}

._text-16{display:inline-block;position:absolute;top:434px;left:59.1927083333%;z-index:4;height:16px;font:700 0.75em/1.38 'Trebuchet MS';color:rgb(255, 255, 255);}

._text-19{display:inline-block;position:absolute;top:595px;left:39.7333333333%;height:16px;font:700 0.75em/1.38 'Trebuchet MS';color:rgb(255, 255, 255);}

._text-2{display:inline-block;position:absolute;top:35px;left:17.5999999999%;z-index:46;height:14px;font-size:0.75em;line-height:1.38;color:rgba(77, 77, 77, 0.87);}

._text-3{display:inline-block;position:absolute;top:35px;left:23.7333333333%;z-index:45;height:14px;font-size:0.75em;line-height:1.38;color:rgba(77, 77, 77, 0.87);}

._text-4{display:inline-block;position:absolute;top:35px;left:30.8%;z-index:44;height:14px;font-size:0.75em;line-height:1.38;color:rgba(77, 77, 77, 0.87);}

._text-5{display:inline-block;position:absolute;top:35px;left:38.9333333333%;z-index:43;height:14px;font-size:0.75em;line-height:1.38;color:rgba(77, 77, 77, 0.87);}

.container ._button-3,.container ._button-4{clear:both;background-color:rgba(255, 255, 255, 0.57);color:rgba(77, 77, 77, 0.87);}

.container ._button-5,.container ._button-6{margin-left:7.03125%;background-color:rgba(23, 176, 241, 0.65);color:rgba(255, 255, 255, 0.87);}

.section_intro ._text-7{top:59px;left:37.540625%;z-index:35;height:23px;}

.section_intro ._text-8{top:82px;left:37.3333333333%;z-index:34;height:22px;}

.section_intro ._text-9{top:104px;left:44.8739583333%;z-index:33;height:24px;}